<h2>Odds: <%= @event.text %></h2>

<p>Share this link with the other person:
<%= link_to request.original_url, request.original_url %>
</p>

<p>Pick a number between <strong>1</strong> and <strong><%= @event.number %></strong>. </p>
<p>After you make your guess, keep refreshing the page to see the results.</p>

<!-- TODO: Validation for more than 2 comments -->
<% if @event.comments.size >= 2 %>
  <h2>Guesses</h2>
  <% @event.comments.each do |comment| %>
    <p>
      <strong>Name:</strong>
      <%= comment.commenter %>
      <strong>Guess:</strong>
      <%= comment.guess %>
    </p>
  <% end %>
<% else %>

<h2>Make a guess:</h2>
  <%= form_for([@event, @event.comments.build]) do |f| %>
    <% if false %>
      <!-- TODO: Show the errors if guess isn't an integer -->
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@comment.errors.count, "error") %> prohibited
            this comment from being saved:
          </h2>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :guess %><br>
      <%= f.text_field :guess %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Back', controller: :welcome, action: :index %>
